/* 
    Document   : ballinhole
    Created on : 25-okt-2013, 10:45:25
    Author     : Sander
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#tbl-content {
    width: 100%;
    height: 100%;
    background-image: url('../img/canvas-background.png');
    background-size: cover;
}

#tbl-content td {
    text-align: center;
}

#middle {
    height: 70%;
}

#middle canvas {
    width: 100%;
    height: 100%;
}

#top, #controls {
    height: 15%;
    padding: 1%;
    background-image: url('../img/tile.png');
    background-repeat: repeat;
    color: #FFF;
    font-size: 48px;
}

#top img {
    position: absolute;
    left: 0;
    top: 0;
    height: 15%;
    max-width: 30%;
}

@media all and (max-width: 768px) {
    #tbl-content td {
        text-align: right;
    }
}

@media all and (orientation:portrait) {
    #tbl-content td {
        text-align: right;
    }
}

#controls table {
    width: 100%;
    height: 100%;
}

#controls td {
    height: 100%;
}

.button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#play { background-image: url('../img/icon-play.png'); }
#pause { background-image: url('../img/icon-pause.png'); }
#stop { background-image: url('../img/icon-stop.png'); }
#highscores { background-image: url('../img/icon-highscores.png'); }
#help { background-image: url('../img/icon-help.png'); }